</head>
<body>
  <nav>
    <a
      href="/profiles" class=<%= title === 'profile'  ? 'active' : '' %>
    >
      Profile
    </a>
    <a 
      href="/cafes" class=<%= title === 'All Cafes' ? 'active' : '' %>
    >
      Cafes
    </a>
  </nav>
