html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-image: url("/images/CoffeeBackground.png");
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family:  'Holtwood One SC', serif;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  color: #d58317;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: .08rem;
}

#profilepage {
  transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8); /* IE 9 */
  -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
  -o-transform: scale(0.8, 0.8); /* Opera */
  -moz-transform: scale(0.8, 0.8); /* Firefox */
}

h1  {
  align-items: center;
  justify-content: center;
  color: #271c14;
  text-shadow: 0 0 0.15em #f4830b;
  letter-spacing: .08rem;
}


h2{
  align-items: center;
  justify-content: center;
  text-shadow: 0 5px 15px rgba(182, 159, 159,.4);
  font-size: 16px;
  color: #d58317;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: .08rem;
}

span + span {
  margin-left: 20px;
}

.row{
  display: flex;
  flex-direction: row;
}

.column {
  flex-direction: column;
  width: 120px;
  height: 120px;
  flex: 1;
  padding-right: 5px;
}

.navbar{
  background-color: rgb(182, 159, 159);
  text-shadow: 2px 2px 4px #000000;
  color: #c4611a;
  align-items: center;
  padding: 10px;
  min-height: 40px;
  letter-spacing: .18rem;
  text-shadow: 0px;
  font-size: 20px;
}

.navwords{
  color: #c4611a;
  text-shadow: 2px 2px 4px #000000;
}

.navwords:hover{
  color:#f59753;
  text-shadow: 2px 2px 4px #000000;
}

.navwords:visited :hover{
  color: #f59753;
  text-shadow: 2px 2px 4px #000000;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.button {
  font-family: 'Puritan', sans-serif;
  font-size: 15px;
  width: fit-content;
  background: #bc5e1b;
  color:rgb(255, 255, 255, 0.8);
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  height: 45px;
  font-size: 17px;
  border-radius:10px;
  transform: scale(1);
  transition: all .5s ease-in-out;
}

.button:hover {
  background: #eb7725;
  transform: scale(1)
}

.snowwhite {
  max-width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

#snowwhite{
  display: flex;
  max-width: 50%;
  vertical-align: center;
}

#remove {
  width: 50px;
}