html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  justify-content: center;
}

.border {
  flex-wrap: wrap;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  padding: 10px;
  margin: 25px;
  width: 800px;
  height: fit-content;
}

#profilepage {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
  font-size: 0;
}

body {
  background-color:white;
  font-family:  'Abril Fatface', serif;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  letter-spacing: .08rem;
  }
  
.navbar{
    background-color: #924F4C;
    align-items: center;
    padding: 10px;
    min-height: 40px;
    letter-spacing: .18rem;
    font-size: 25px;
}
  
.navwords{
    color: #E0DDD8;
    text-decoration: none;
    margin-left: 10px;
}
  
.navwords:hover{
    color:white;
    text-decoration: none;
}
  
#logout-btn{
  background-color: #924F4C;
  color: white;
  border: 1px solid white;
  font-family: 'Lato', sans-serif;
  position: relative;
  float: right;
  font-size: 20px;
  margin-right: 10px;
  justify-content: center;
}

#logout-btn:hover{
  background-color: white;
  color: #924F4C;
}

h1  {
  color: #518453;
  font-size: 35px;
  align-items: center;
  justify-content: center;
  letter-spacing: .08rem;
  text-align: center;
}

h2{
  color: #518453;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  letter-spacing: .08rem;
}

.profile-card{
  flex-wrap: wrap;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  padding: 10px;
  margin: 25px;
  width: 190px;
  height: fit-content;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
  width: 120px;
  height: 120px;
  flex: 1;
  padding-right: 7px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.button {
  background-color: #924F4C;
  color: white;
  border: 2px solid #13106b;
  font-family: 'Puritan', sans-serif;
  font-size: 15px;
  width: fit-content;
  justify-content: center;
  text-transform: uppercase;
  height: 30px;
  border-radius: 10px;
}

.button:hover {
  background-color: white;
  color: #924F4C;
}

.friendbutton {
  background-color: #924F4C;
  color: white;
  border: 2px solid #13106b;
  margin-top: 0;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  width: fit-content;
  justify-content: center;
  text-transform: uppercase;
  height: 20px;
  border-radius:10px;
}

.friendbutton:hover {
  background-color: white;
  color: #924F4C;
}

#remove {
  width: 50px;
}

.profphoto {
  border-radius:10px;
  margin-left: 12 px;
  max-width: 100px;
  max-height: 100px;
}

#profilename{
  margin-top: 0px;
  text-align: center;
}

#viewbutton{
  background-color: #924F4C;
  color: white;
  border: 2px solid #13106b;
  margin-top: 0;
  margin-left: 14px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  width: fit-content;
  justify-content: center;
  text-transform: uppercase;
  height: 20px;
  border-radius:10px;
  margin-bottom: 2px;
}

#viewbutton:hover{
  background-color: white;
  color: #924F4C;
}

.friend {
  background-color: #924F4C;
  color: white;
}