html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
  justify-content: center;
}

body {
  color: #d58317;
  text-shadow: 2px 2px 4px #000000;
  background-color: #271c14;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family:  'Holtwood One SC', serif;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  letter-spacing: .08rem;
}

.navbar{
  color: #271c14;
  background-color: rgb(182, 159, 159);
  align-items: center;
  padding: 10px;
  min-height: 40px;
  letter-spacing: .18rem;
  text-shadow: 0px;
  font-size: 25px;
}

.navwords{
  color: #271c14;
  text-shadow: 2px 2px 1px #f2f0f0;
  text-decoration: none;
  margin-left: 10px;
}

.navwords:hover{
  color:#1621b2;
  text-shadow: 2px 2px 1px #f2f0f0;
  text-decoration: none;

}
#logout-btn{
  font-family: 'Puritan', sans-serif;
  position: relative;
  float: right;
  font-size: 25px;
  margin-right: 10px;
  margin-top: 5px;
  justify-content: center;
}

#profilepage {
  transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8); /* IE 9 */
  -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
  -o-transform: scale(0.8, 0.8); /* Opera */
  -moz-transform: scale(0.8, 0.8); /* Firefox */
}

h1  {
  color: #f4830b;
  text-shadow: 2px 2px 1px #f2f0f0;
  font-size: 35px;
  align-items: center;
  justify-content: center;
  letter-spacing: .08rem;
}

h2{
  color: #d58317;
  text-shadow: 2px 2px 1px #f2f0f0;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  letter-spacing: .08rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style:none;
}

.right {
  margin-left: auto;
}

.button {
  color:rgb(255, 255, 255, 0.8);
  background: #bc5e1b;
  font-family: 'Puritan', sans-serif;
  font-size: 15px;
  width: fit-content;
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  height: 30px;
  border-radius:10px;
}

.button:hover {
  background: #fe8e3e;
}


#remove {
  width: 50px;
}

.list {
  list-style: none;
  line-height: 7px;
  justify-content: center;
}

.cafes {
  color: #d58317;
  text-shadow: 2px 2px 4px #000000;
}

.cafes:visited{
  color: #d58317;
  text-shadow: 2px 2px 4px #000000;
}

.cafes:hover {
  color: #f59753;
  text-shadow: 2px 2px 4px #000000;
}

#profileimg{
  align-items: center;
  justify-content: center;
  border-radius:10px;
}

#lorelai{
  border-radius:10px;
  margin-bottom: 10px;
  max-width: 350px;
}