html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-image: url("/images/coffeebackground1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  font-family:  'Holtwood One SC', serif;
  margin: 0;
}
h1 {
  align-items: center;
  justify-content: center;
  text-shadow: 0 5px 15px rgba(182, 159, 159,.4);
  color: #271c14;
}

h2{
  align-items: center;
  justify-content: center;
  text-shadow: 0 5px 15px rgba(182, 159, 159,.4);
  font-size: 16px;
  color: #c89b60;
  text-shadow: 2px 2px 4px #000000;
}

span + span {
  margin-left: 20px;
}

.navbar{
  background-color: rgb(182, 159, 159);
  color: #c4611a;
  text-shadow: 2px 2px 4px #000000;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 40px;
}

.navwords{
  color: #c4611a;
  text-shadow: 2px 2px 4px #000000;
}

.navwords:hover{
  color:#f59753;
  text-shadow: 2px 2px 4px #000000;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style:none;
}

.list {
  list-style: none;
  line-height: 7px;
  justify-content: center;
  
}

.cafes {
  color: #bc5e1b;
  text-shadow: 2px 2px 4px #000000;
}

.cafes:visited{
  color: #f05209;
  text-shadow: 2px 2px 4px #000000;
}

.cafes:hover {
  color: #f59753;
  text-shadow: 2px 2px 4px #000000;
}

h1  {
  align-items: center;
  justify-content: center;
  color: #271c14;
  text-shadow: 0 0 0.15em #f4830b;
}

h2 {
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: #d58317;
  text-shadow: 2px 2px 4px #000000;
}

#profileimg{
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px #000000;
}

.button {
  font-family: 'Puritan', sans-serif;
  font-size: 15px;
  width: fit-content;
  background: #bc5e1b;
  color:rgb(255, 255, 255, 0.8);
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  height: 24px;
  font-size: 17px;
  border-radius:10px;
}

.button:hover {
  background: #eb7725;
  font-size: 19px;
}
#remove {
  width: 50px;
}

#lorelai{
  box-shadow: 2px 2px 4px #000000;
}