<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('./partials/nav') %>

<main>
  <img id="coffee-high-five" src="/images/coffeehighfive.gif" alt="Coffee High-Five">
  <h1 id="caffeinate">Caffeinate-</h1><h1 id="me">Me</h1>
</main>
<%- include('./partials/footer') %>