html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color:white;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family:  'Abril Fatface', serif;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  letter-spacing: .08rem;
}
  
.navbar {
    background-color: #924F4C;
    align-items: center;
    padding: 10px;
    min-height: 40px;
    letter-spacing: .18rem;
    font-size: 25px;
}
  
.navwords{
  color: #E0DDD8;
  text-decoration: none;
  margin-left: 10px;
}
    
.navwords:hover{
  color:#71bce7;
  text-decoration: none;
}

#logout-btn{
  background-color: #98d9ff;
  border: 1px solid white;
  color: #635454;
  font-family: 'Lato', sans-serif;
  position: relative;
  float: right;
  font-size: 20px;
  margin-right: 10px;
  justify-content: center;
}

h1  {
  align-items: center;
  justify-content: center;
  color: #518453;
  font-size: 20px;
}

h2{
  color: #518453;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  letter-spacing: .08rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style:none;
}

.list {
  list-style: none;
  line-height: 7px;
  justify-content: center;
  
}

.button {
  background-color: #98d9ff;
  color: #1C681B;
  font-family: 'Puritan', sans-serif;
  font-size: 15px;
  width: fit-content;
  justify-content: center;
  text-transform: uppercase;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #13106b;
}

.button:hover {
  background-color: #4fd7a7;
}
#remove {
  width: 50px;
}

#error-img {
  max-width: 300px;
}

#error{
  font-size: 20px;
}

#notfounderror{
    font-size: 15px;
    text-shadow: 10px 10px 9px #000000;
    font-family: 'Puritan', sans-serif;
}