html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  color: #d58317;
  text-shadow: 4px 4px 9px #000000;
  background-image: url("/images/CoffeeBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  font-family:  'Holtwood One SC', serif;
  margin: 0;
}

.navbar{
  color: #c4611a;
  text-shadow: 2px 2px 4px #000000;
  background-color: rgb(182, 159, 159);
  align-items: center;
  padding: 10px;
  min-height: 40px;
  letter-spacing: .18rem;
  text-shadow: 0px;
  font-size: 25px;
}

.navwords{
  color: #c4611a;
  text-shadow: 2px 2px 4px #000000;
  margin-left: 10px;
}

.navwords:hover{
  color:#f59753;
  text-shadow: 2px 2px 4px #000000;
}

#logout-btn{
  font-family: 'Puritan', sans-serif;
  position: relative;
  float: right;
  font-size: 25px;
  margin-right: 10px;
  margin-top: 5px;
  justify-content: center;
}

h1 {
  color: #271c14;
  text-shadow: 0 0 0.15em #f4830b;
  font-size: 35px;
  align-items: center;
  justify-content: center;
}

h2{
  color: #d58317;
  text-shadow: 2px 2px 4px #000000;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-shadow: 0 5px 15px rgba(182, 159, 159,.4);
}

span + span {
  margin-left: 20px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style:none;
}

.list {
  list-style: none;
  line-height: 7px;
  justify-content: center;
  
}

h1  {
  align-items: center;
  justify-content: center;
  color: #271c14;
  text-shadow: 0 0 0.15em #f4830b;
}

h2 {
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: #d58317;
  text-shadow: 2px 2px 4px #000000;
}

.button {
  font-family: 'Puritan', sans-serif;
  font-size: 17px;
  height: 30px;
  width: fit-content;
  background: #bc5e1b;
  color:rgb(255, 255, 255, 0.8);
  justify-content: center;
  text-transform: uppercase;
  border-radius:10px;
}

.button:hover {
  background: #eb7725;
}
#remove {
  width: 50px;
}

#error-img {
  max-width: 300px;
}

#error{
  font-size: 20px;
}

#notfounderror{
    font-size: 15px;
    text-shadow: 10px 10px 9px #000000;
    font-family: 'Puritan', sans-serif;
}