html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  color: rgb(182, 159, 159);
  background-color: #271c14;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family:  'Holtwood One SC', serif;
  margin: 0;
}

.navbar{
  color: #c4611a;
  text-shadow: 2px 2px 4px #000000;
  background-color: #ffbd8f;
  align-items: center;
  padding: 10px;
  min-height: 40px;
  letter-spacing: .18rem;
  text-shadow: 0px;
  font-size: 25px;
}

.navwords{
  color: #017e5e;
  text-shadow: 2px 2px 4px #000000;
  margin-left: 10px;
  text-decoration: none;
}

.navwords:hover{
  color: #7dbfaa;
  text-shadow: 2px 2px 1px #000000;
  text-decoration: none;
}

#logout-btn{
  font-family: 'Puritan', sans-serif;
  position: relative;
  float: right;
  font-size: 25px;
  margin-right: 10px;
  margin-top: 5px;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.button {
  color:rgb(255, 255, 255, 0.8);
  background: #017e5e;
  font-family: 'Puritan', sans-serif;
  font-size: 17px;
  height: 30px;
  width: fit-content;
  justify-content: center;
  text-transform: uppercase;
  border-radius:10px;
}

.button:hover {
  background: #7dbfaa;
}

#remove {
  width: 50px;
}