html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #271c14;
  font-family: 'Abril Fatface', serif;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  letter-spacing: .08rem;
}

h1 {
  color: #0191DA;
  font-style: bold;
  font-size: 35px;
  align-items: center;
  justify-content: center;
  letter-spacing: .08rem;
}

#caffeinate {
  border: 0;
  margin: 0;
  padding: 0;
}

#me {
  font-family: 'Style Script';
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 50px;
}

h2 {
  color: #518453;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  letter-spacing: .08rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

#remove {
  width: 50px;
}

.textbox {
  width: 140px;
  height: 20px;
  border-radius: 10px;
}

#remove {
  width: 50px;
}


@media only screen and (max-width: 414px) and (min-width: 394px){
  #cafword{
    margin-left: 10px;
  }

  a.navwords{
    margin-left: 15px;
    font-size: 10px;
  }
  #logout{
    margin-top: 5.8%;
  }
  nav.navbar{
    padding-bottom: 5%;
  }
}

@media only screen and (max-width: 394px) and (min-width: 391px){
  #cafword{
    margin-left: 10px;
  }

  a.navwords{
    margin-left: 5px;
    font-size: 10px;
  }

  #logout{
    margin-top: 6%;
    right: 5px;
  }

  nav.navbar{
    padding-bottom: 5%;
  }
}
@media only screen and (max-width: 390px) and (min-width: 376px){
  #cafword{
    margin-left: 10px;
  }

  a.navwords{
    font-size: 10px;
  }

  #profilesnav,
  #cafesnav{
    right: 10px;
  }
  
  #logout{
    right: 5px;
    margin-top: 6.5%;
  }

  nav.navbar{
    padding-bottom: 5%;
  }
}

@media only screen and (max-width: 375px) and (min-width: 361px){
  div#cafword,
  div#meword,
  a.navwords{
    font-size: 8px;
  }
  #logout{
    margin-top: 7%;
  }
  nav.navbar{
    padding: 5px;
    padding-bottom: 7%;
    min-height: 20px;
    max-height: 30px;
  }
  #coffee-high-five{
    max-width: 75%;
  }
}

@media only screen and (max-width: 360px){
  div#cafword,
  div#meword,
  a.navwords{
    font-size: 8px;
  }

  #logout{
    margin-top: 4.5%;
    margin-left: 5%;
    margin-right: 0;
  }

  nav.navbar{
    padding: 5px;
    padding-bottom: 4%;
    min-height: 20px;
    max-height: 30px;
  }
  #coffee-high-five{
    max-width: 75%;
  }
}
