html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  color: rgb(182, 159, 159);
  background-color: #271c14;
  text-shadow: 0 5px 15px rgba(182, 159, 159,.4);
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family:  'Holtwood One SC', serif;
  margin: 0;
  letter-spacing: .08rem;
}

.navbar{
  color: #c4611a;
  text-shadow: 2px 2px 4px #000000;
  background-color: rgb(182, 159, 159);
  align-items: center;
  padding: 10px;
  min-height: 40px;
  letter-spacing: .18rem;
  text-shadow: 0px;
  font-size: 25px;
}

.navwords{
  color: #c4611a;
  text-shadow: 2px 2px 4px #000000;
  margin-left: 10px;
}

.navwords:hover{
  color:#f59753;
  text-shadow: 2px 2px 4px #000000;
}

#logout-btn{
  position: relative;
  float: right;
  font-size: 25px;
  margin-right: 10px;
  justify-content: center;
  margin-top: 0.3em;
}

h1{
  color: rgb(182, 159, 159);
  font-size: 60px;
  letter-spacing: .08rem;
}
span + span {
  margin-left: 20px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.button {
  color:rgb(255, 255, 255, 0.8);
  background: #bc5e1b;
  font-family: 'Puritan', sans-serif;
  font-size: 17px;
  height: 30px;
  width: fit-content;
  justify-content: center;
  text-transform: uppercase;
  border-radius:10px;
}

.button:hover {
  background: #eb7725;
  font-size: 19px;
}

#remove {
  width: 50px;
}