html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color:white;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family:  'Holtwood One SC', serif;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  letter-spacing: .08rem;
  }
  
  .navbar{
    background-color: #252525;
    align-items: center;
    padding: 10px;
    min-height: 40px;
    letter-spacing: .18rem;
    font-size: 25px;
  }
  
  .navwords{
    color: #E0DDD8;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .navwords:hover{
    color:#71bce7;
    text-decoration: none;
  }
  

#logout-btn{
  background-color: #98d9ff;
  color: #252525;
  font-family: 'Puritan', sans-serif;
  position: relative;
  float: right;
  font-size: 25px;
  margin-right: 10px;
  margin-top: 5px;
  justify-content: center;
}

#logout-btn:hover{
  background-color: #4fd7a7;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.button {
  background-color: #98d9ff;
  color: #252525;
  font-family: 'Puritan', sans-serif;
  font-size: 17px;
  height: 30px;
  width: fit-content;
  justify-content: center;
  text-transform: uppercase;
  border-radius:10px;
}

.button:hover {
  background-color: #4fd7a7;
}

#remove {
  width: 50px;
}