html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #271c14;
  font-family: 'Abril Fatface', serif;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  letter-spacing: .08rem;
}

.navbar {
  background-color: #af3e38;
  align-items: center;
  padding: 10px;
  min-height: 40px;
  letter-spacing: .18rem;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}

.navwordscontainer {
  display: flex;
  flex-grow: 1;
}

.navwords {
  color: #E0DDD8;
  text-decoration: none;
  margin-left: 10px;
  padding: 2px;
  border-radius: 10px;
}

#cafword {
  color: #E0DDD8;
  text-decoration: none;
  margin-left: 10px;
  border-radius: 10px;
  font-style: "Abril Fatface";
  font-size: 15px
}

#meword {
  color: #E0DDD8;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'Style Script';
  font-size: 15px
}

#cafword,
#meword {
  display: inline-block; /* add display inline-block */
}

.navwords:hover {
  color: white;
  text-decoration: none;
  outline: white solid 1px;
}

#logout-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  margin-left: 37em;
}

#logout-btn:hover {
  opacity: 80%;
}

#logout-btn img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  padding: 0;
  margin-left: 37em;
}


h1 {
  color: #0191DA;
  font-style: bold;
  font-size: 35px;
  align-items: center;
  justify-content: center;
  letter-spacing: .08rem;
}

#caffeinate {
  border: 0;
  margin: 0;
  padding: 0;
}

#me {
  font-family: 'Style Script';
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 50px;
}

h2 {
  color: #518453;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  letter-spacing: .08rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

#remove {
  width: 50px;
}

.textbox {
  width: 140px;
  height: 20px;
  border-radius: 10px;
}

#remove {
  width: 50px;
}