<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/cafes/index.css" />
<%- include('../partials/nav') %>
<h1>This is my cafe show view</h1>
<p>Each cafe's information will go here</p>
<%- include('../partials/footer') %>