<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/cafes/index.css" />
<%- include('../partials/nav') %>
<h1><%= cafe.name %></h1>
<p>Each cafe's information and review will go here</p>
<%- include('../partials/footer') %>