html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #271c14;
  color: rgb(182, 159, 159);
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family:  'Holtwood One SC', serif;
  margin: 0;
}
span + span {
  margin-left: 20px;
}

nav {
  background-color: rgb(182, 159, 159);
  color: #271c14;
  display: flex;
  align-items: center;
  padding: 30px;
  min-height: 60px;
}

nav > a:visited {
  color: #271c14
}

nav > a:hover {
  color: #bc5e1b;
  background-color: #424748;
}

nav > a.active {
  color: #0d0579
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.button {
  font-size: 20px;
  width: 130px;
  background: #bc5e1b;
  color:rgb(255, 255, 255, 0.8);
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background: #bc5e1b;
  color:(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(188,94,27,.4);
}

#remove {
  width: 50px;
}