html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
  justify-content: center;
}

main{
  background-color: #ebe9e9;
}

.cafe-name,
.location-name, #name-input,
#location-select{
  border-radius:10px;
  padding: 2px;
  font-family: 'Abril-Fatface';
  font-size: 16px;
  height: 28px;
  color: #0156d2;
  font-weight: bold;
}


.border {
  flex-wrap: wrap;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px #c2c1c1;
  box-shadow: 0px 0px 2px 2px #c2c1c1;
  border-radius: 10px;
  padding: 10px;
  margin: 25px;
  width: 600px;
  height: fit-content;
  padding-left: 35px;
}

body {
  background-color: #ebe9e9;
  color: #0191DA;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 'Abril Fatface', serif;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  letter-spacing: .08rem;
}

td.location-name, td.cafe-name{
  margin-left: 5px;
}

tr{
  margin-bottom: 10px;
}
#cafword {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  border-radius: 10px;
  font-style: "Abril Fatface";
  font-size: 15px;
  margin-bottom: 5x;
}

#meword {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'Style Script';
  font-size: 15px;
  margin-bottom: 5x;
}

#cafword,
#meword {
  display: inline-block;
}

h1 {
  color: #0191DA;
  font-size: 35px;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: .08rem;
}

h2 {
  color: #0191DA;
  font-size: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: .08rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top:0;
}

.right {
  margin-left: auto;
}

.button {
  border: none;
  background: #c2e7ff;
  color: #001d35;
  font-weight: bold;
  font-family: 'Puritan', sans-serif;
  font-size: 15px;
  width: fit-content;
  justify-content: center;
  text-transform: uppercase;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background: #85ccfc;
  font-weight: bold;
  box-shadow: 0px 4px 2px -2px #c6c6c6;
}

#reviews {
  margin: 0;
  width: 30px;
}

#remove {
  width: 30px;
  margin-right: 170px;
}

.textbox {
  width: 140px; 
  height: 20px;
  border-radius: 10px;
}