html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
  justify-content: center;
}

body {
  background-image: url("/images/coffeebackground1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  margin-block-start: 0;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family:  'Holtwood One SC', serif;
  margin: 0;
  padding: 0;
  color: #d58317;
  text-shadow: 2px 2px 4px #000000;
}

.darkbrown {
  color: #d58317;
  font-size: 20px;
}
.navbar{
  background-color: rgb(182, 159, 159);
  color: #c4611a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 40px;
  margin-bottom: 0;
}

.navwords{
  color: #c4611a;
}

.navwords:hover{
  color:#f59753;
}

h1{
  align-items: center;
  justify-content: center;
  color: #271c14;
  text-shadow: 0 0 0.15em #f4830b;
  margin-top: 0;
  padding: 0;
}

h2{
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #d58317;
  text-shadow: 2px 2px 4px #000000;
  
}

#cafepage{
  margin-top: 0;
  border: 0;
  padding: 0;
  transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8); /* IE 9 */
  -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
  -o-transform: scale(0.8, 0.8); /* Opera */
  -moz-transform: scale(0.8, 0.8); /* Firefox */
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

.button {
  font-family: 'Puritan', sans-serif;
  font-size: 15px;
  width: fit-content;
  background: #bc5e1b;
  color:rgb(255, 255, 255, 0.8);
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  height: 24px;
  font-size: 17px;
  border-radius:10px;
}

.button:hover {
  background: #eb7725;
  font-size: 19px;
}

#remove {
  width: 50px;
}

.meryl{
  max-width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}
#meryl {
  display: flex;
  max-width: 50%;
  vertical-align: center;
  margin-top: 5px;
}