html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
  justify-content: center;
}

body {
  margin-block-start: 0;
  background-color: #271c14;
  color: rgb(182, 159, 159);
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family:  'Holtwood One SC', serif;
  margin: 0;
  padding: 0;
}

.navbar{
  background-color: rgb(182, 159, 159);
  color: #c4611a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 40px;
  margin-bottom: 0;
}

.navwords{
  color: #c4611a;
}

.navwords:hover{
  color:#f59753;
}

#cafepage{
  margin-top: 0;
  border: 0;
  padding: 0;
  transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8); /* IE 9 */
  -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
  -o-transform: scale(0.8, 0.8); /* Opera */
  -moz-transform: scale(0.8, 0.8); /* Firefox */
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

h1, h2  {
  align-items: center;
  justify-content: center;
  text-shadow: 0 5px 15px rgba(182, 159, 159,.4);
  margin-top: 0;
}

.button {
  font-size: 15px;
  width: 80px;
  background: #bc5e1b;
  color:rgb(255, 255, 255, 0.8);
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background: #bc5e1b;
  color:(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(188,94,27,.4);
}

#remove {
  width: 50px;
}