html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  justify-content: center;
}

.border {
  flex-wrap: wrap;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  padding: 10px;
  margin: 25px;
  width: 600px;
  height: fit-content;
}

body {
  background-color:white;
  color: #517784;
  font-family:  'Abril Fatface', serif;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  letter-spacing: .08rem;
}
  
.navbar{
  background-color: #924F4C;
  align-items: center;
  padding: 10px;
  min-height: 40px;
  letter-spacing: .18rem;
  font-size: 25px;
}
  
.navwords{
  color: #E0DDD8;
  text-decoration: none;
  margin-left: 10px;
}
  
.navwords:hover{
  color:white;
  text-decoration: none;
}
  
#logout-btn{
  background-color: #924F4C;
  color: white;
  border: 1px solid white;
  font-family: 'Lato', sans-serif;
  position: relative;
  float: right;
  font-size: 20px;
  margin-right: 10px;
  justify-content: center;
}

#logout-btn:hover{
  background-color: white;
  color: #924F4C;
}

h1  {
  margin-bottom: 0;
  color: #518453;
  font-size: 35px;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: .08rem;
}

h2{
  margin-top: 0;
  margin-bottom: 0;
  color: #518453;
  font-size: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: .08rem;
}

#reviews{
  margin-bottom: 10px;
}

p{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.row{
  display: flex;
  flex-direction: row;
}

.column {
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style:none;
}

.right {
  margin-left: auto;
}

.button {
  background-color: #924F4C;
  color: white;
  border: 2px solid #13106b;
  font-family: 'Puritan', sans-serif;
  font-size: 15px;
  width: fit-content;
  justify-content: center;
  text-transform: uppercase;
  height: 30px;
  border-radius: 10px;
}

.button:hover {
  background-color: white;
  color: #924F4C;
}

#remove {
  width: 50px;
}

.textbox {
  width: 100px; 
  height: 20px;
  border-radius:10px;
}

#remove {
  width: 50px;
}

.list {
  list-style: none;
  line-height: 7px;
  justify-content: center;
}

#remove {
  width: 50px;
}

.addreviewborder{
  margin-top: 10px;
  display: flex;
  max-width: 70%;
  background-color: white;
  display: flex;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  padding: 25px;
}

.reviewborder{
  margin-top: 10px;
  display: flex;
  max-width: 70%;
  background-color: white;
  display: flex;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  padding: 25px;
}

.marginbottom{
  margin-bottom: 5px;
}

.meryl{
  margin-top: 20px;
  max-width: 60%;
  margin-left: 25%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

#meryl {
  display: flex;
  max-width: 50%;
  vertical-align: center;
  border-radius:10px;
}

#favoriteCoffee {
  display: block;
}

#leastCoffee {
  display: block;
}

#milk-select{
  display: block;
}

#priceLatte{
  display: block;
}

#addreview{
  margin-top: 20px;
  margin-bottom: 0px;
}

#addreviewbutton{
  margin-top: 5px;
}