html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #271c14;
  color: rgb(182, 159, 159);
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family:  'Holtwood One SC', serif;
  margin: 0;
}
span + span {
  margin-left: 20px;
}

.row{
  display: flex;
  flex-direction: row;
}

.column {
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.buttoncolumn {
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.navbar{
  background-color: rgb(182, 159, 159);
  color: #c4611a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 40px;
}

.navwords{
  color: #c4611a;
}

.navwords:hover{
  color:#f59753;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1, h2, h3 {
  display: flex;
  margin-top: 0;
  justify-content: center;
  text-shadow: 0 5px 15px rgba(182, 159, 159,.4);
}

#needcoffee{
  transform: 50%;
}

.editdelete{
  display: flex;

}

.blockreview{
  display: inline;
  margin-left: 20px;
  width: 80%;
}

li{
  list-style-type: none;
}

.button {
  font-size: 15px;
  width: 80px;
  background: #bc5e1b;
  color:rgb(255, 255, 255, 0.8);
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background: #bc5e1b;
  color:(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(188,94,27,.4);
}

.resizedTextbox {width: 80px; height: 20px}

#remove {
  width: 50px;
}