html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  justify-content: center;
}

.border {
  flex-wrap: wrap;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  box-shadow: 0px 0px 2px 2px #0191DA;
  border-radius: 10px;
  padding: 10px;
  margin: 25px;
  width: 600px;
  height: fit-content;
}

body {
  background-color:white;
  color: #0191DA;
  font-family:  'Abril Fatface', serif;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  letter-spacing: .08rem;
}
  
.navbar {
  background-color: #b7835f;
  align-items: center;
  padding: 10px;
  max-height: 60px;
  min-height: 40px;
  letter-spacing: .18rem;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.navwordscontainer {
  display: flex;
  flex-grow: 1;
  margin-bottom: 5x;
}

.navwords {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  padding: 2px;
  border-radius: 10px;
  margin-bottom: 5x;
}

#cafword {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  border-radius: 10px;
  font-style: "Abril Fatface";
  font-size: 15px;
  margin-bottom: 5x;
}

#meword {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'Style Script';
  font-size: 15px;
  margin-bottom: 5x;
}

#cafword,
#meword {
  display: inline-block;
}

.navwords:hover {
  color: #271c14;
  text-decoration: none;
}

#logout {
  position: absolute;
  right: 30px;
}

h1  {
  margin-bottom: 0;
  color: #0191DA;
  font-size: 35px;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: .08rem;
}

h2{
  margin-top: 0;
  margin-bottom: 0;
  color: #0191DA;
  font-size: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: .08rem;
}

#reviews{
  margin-bottom: 10px;
}

p{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.row{
  display: flex;
  flex-direction: row;
}

.column {
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  color: #0191DA;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style:none;
}

.right {
  margin-left: auto;
}

.button {
  border: none;
  background: #c2e7ff;
  color: #001d35;
  font-weight: bold;
  font-family: 'Puritan', sans-serif;
  font-size: 15px;
  width: fit-content;
  justify-content: center;
  text-transform: uppercase;
  height: 30px;
  border-radius: 10px;
}

.button:hover {
  background: #85ccfc;
  font-weight: bold;
  box-shadow: 0px 4px 2px -2px #c6c6c6;
}

#remove {
  width: 50px;
}

.textbox {
  width: 100px; 
  height: 20px;
  border-radius:10px;
}

#remove {
  width: 50px;
}

.list {
  list-style: none;
  line-height: 7px;
  justify-content: center;
}

#remove {
  width: 50px;
}

.addreviewborder{
  margin-top: 10px;
  display: flex;
  max-width: 70%;
  background-color: white;
  display: flex;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  padding: 25px;
  justify-content: left;
}

.reviewborder{
  margin-top: 10px;
  display: flex;
  max-width: 70%;
  background-color: white;
  display: flex;
  border: 1px solid #000000;
  box-shadow: 0px 0px 2px 2px #0191DA;
  border-radius: 10px;
  padding: 25px;
}

.marginbottom{
  margin-bottom: 5px;
}

.meryl{
  margin-top: 20px;
  max-width: 60%;
  margin-left: 20%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

#meryl {
  display: flex;
  max-width: 50%;
  vertical-align: center;
  border-radius:10px;
}

#favoriteCoffee, #leastCoffee, #milk-select, #priceLatte {
  display: block;
}

#add-review-form{
  color: #0191DA;
}

#addreview{
  margin-top: 20px;
  margin-bottom: 0px;
}

#addreviewbutton{
  margin-top: 10px;
}